.cruelty-header {
	display: grid;
	grid-template-rows: repeat(6, minmax(min-content, 130px));
	grid-template-columns: repeat(18, 1fr);
	width: 100%;

	@media screen and (max-width: 500px) {
		grid-template-rows: repeat(6, minmax(min-content, max-content));
	}

	&__container-image {
		grid-row: 1 / 7;
		grid-column: 6 / 17;
		background-image: url(images/header-photo-min.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		@media screen and (max-width: 500px) {
			display: none;
		}
	}

	&__image {
		display: none;
	}

	&__container-logo {
		grid-row: 1 / 2;
		grid-column: 1 / 6;
		z-index: 100;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;

		@media screen and (max-width: 800px) {
			grid-column: 1 / 7;
		}

		@media screen and (max-width: 500px) {
			padding: 0 10px;
			grid-column: 1 / 19;
		}
	}

	&__contacts {
		grid-row: 1 / 2;
		grid-column: 14 / 19;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 50px;

		@media screen and (max-width: 800px) {
			grid-column: 13 / 19;
			padding: 0 10px;
		}

		@media screen and (max-width: 500px) {
			grid-row: 2 / 3;
			grid-column: 1 / 19;
			margin-top: 15px;
		}
	}

	&__phone-number {
		margin-bottom: 10px;
		font-size: 24px;
		color: #d57120;

		@media screen and (max-width: 800px) {
			font-size: 20px;
			text-align: center;
		}

		&:hover {
			color: #eca900;
		}
	}

	&__email {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: #213632;

		@media screen and (max-width: 800px) {
			text-align: center;
		}

		&:hover {
			color: #eca900;
		}
	}

	&__social {
		position: relative;
		grid-row: 2 / 7;
		grid-column: 17 / 19;
		position: relative;

		@media screen and (max-width: 500px) {
			grid-row: 3 / 4;
			grid-column: 1 / 19;
			margin-top: 10px;
			padding: 0 10px;
		}

		&-slogan {
			position: relative;
			margin: 0 auto;
			writing-mode: vertical-lr;
			font-family: Roboto;
			font-weight: 400;
			font-size: 16px;
			line-height: 1.2;

			@media screen and (max-width: 500px) {
				display: none;
			}

			&::before {
				content: "";
				position: absolute;
				top: 15%;
				right: -100%;
				width: 85px;
				height: 0;
				border-bottom: 2px solid #eca900;
				transform: rotate(90deg);

				@media screen and (max-width: 500px) {
					transform: none;
				}
			} 
		}

		&-container {
			position: absolute;
			bottom: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;

			@media screen and (max-width: 500px) {
				position: relative;
				top: 0;
				right: 0;
				flex-direction: row;
				justify-content: center;
			}
		}

		&-link {

			&--insta {
				margin-bottom: 15px;
				fill: #eca900;

				@media screen and (max-width: 500px) {
					margin-bottom: 0;
				}

				&:hover {
					fill: #d57120;
				}
			}
			&--vk {
				margin-bottom: 120px;
				stroke: #eca900;
				stroke-width: 2px;
				fill: #fff;

				@media screen and (max-width: 500px) {
					margin-bottom: 0;
					margin-left: 50px;
				}

				&:hover {
					stroke: #d57120;
				}
			}
		}
	}

	&__main {
		grid-row: 2 / 7;
		grid-column: 1 / 9;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		background-color: #fff;

		@media screen and (max-width: 1025px) {
			align-items: center;
			margin-top: 15px;
			padding: 0 10px;
		}

		@media screen and (max-width: 500px) {
			grid-row: 4 / 7;
			grid-column: 1 / 19;
		}

		&-container {
			max-width: 465px;
			margin-right: 100px;

			@media screen and (max-width: 1025px) {
				margin-right: 0;
			}
		}

		&-subtitle {
			font-weight: 200;
			font-size: 24px;

			@media screen and (max-width: 1025px) {
				max-width: 360px;
				text-align: center;
			}

			@media screen and (max-width: 800px) {
				font-size: 20px;
			}

			@media screen and (max-width: 500px) {
				max-width: 100%;
			}
		}

		&-title {
			font-weight: 700;
			font-size: 72px;

			@media screen and (max-width: 1025px) {
				font-size: 60px;
			}

			@media screen and (max-width: 800px) {
				font-size: 48px;
			}

			@media screen and (max-width: 500px) {
				margin: 15px 0;
				//font-size: 36px;
				text-align: center;
			}

			@media screen and (max-width: 320px) {
				font-size: 42px;
			}

			& span {
				color: #d57120;
			}
		}

		&-description {
			position: relative;
			padding-left: 75px;
			font-family: Roboto;
			font-weight: 300;
			font-size: 24px;
			line-height: 1.3;

			@media screen and (max-width: 800px) {
				padding-left: 50px;
				font-size: 18px;
			}

			@media screen and (max-width: 500px) {
				padding-left: 0;
				text-align: center;
			}

			&::before {
				content: "";
				position: absolute;
				top: 15px;
				left: 0;
				width: 63px;
				height: 0;
				margin-right: 21px;
				border-top: 2px solid #213632;

				@media screen and (max-width: 800px) {
					width: 42px;
				}

				@media screen and (max-width: 500px) {
					display: none;
				}
			}
		}

		&-buttons {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-right: 11px;

			@media screen and (max-width: 500px) {
				margin: 0 0 15px 0;
			}
		}

		&-button {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 43px;
			margin-right: 25px;
			width: 250px;
			height: 55px;
			color: #213632;
			font-family: Roboto;
			font-weight: 500;
			font-size: 18px;
			line-height: 1.4;

			@media screen and (max-width: 500px) {
				margin-left: auto;
				margin-right: auto;
			}

			&--filled {
				border: 2px solid #eca900;
				background-color: #eca900;

				&:hover {
					background-color: #d57120;
					border-color: #d57120;
					color: #fff;
				}
			}

			&--unfilled {
				border: 2px solid #807522;

				&:hover {
					border-color: #a0922b;
					background-color: #a0922b;
					color: #fff;
				}
			}
		}
	}

	&__heart {
		grid-row: 3 / 4;
		grid-column: 7 / 8;
		position: relative;

		@media screen and (max-width: 800px) {
			grid-column: 8 / 9;
		}

		@media screen and (max-width: 500px) {
			grid-row: 4 / 5;
		}

		@media screen and (max-width: 500px) {
			display: none;
		}

		& svg {
			position: absolute;
			bottom: 0;

			@media screen and (max-width: 800px) {
				left: -10%;
				//bottom: 25%;
				width: 120px;
				height: 120px;
			}
		}
	}
}